<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}" >

<body ng-app ="roombaSimApp">
	<div id="controller" ng-controller ="roombaSimController" >
		<button ng-click = "runSimulation()">
			Run simulation...
		</button>

		<button ng-click = "testProcessing()">
			Test Processing
		</button>
		<div id="input">
		<form>
			<textarea ui-codemirror = "editorOptions" ng-model = "code">
			</textarea>
		</form>
        </div>
        <div id="output">
		<canvas id="sketch" data-processing-sources="../RoombaSimulator.pde ../Entity.pde ../EndZone.pde ../Path.pde ../Roomba.pde ../Wall.pde ../MazeMaker.pde"></canvas>
		</div>
	</div>
</body>
</html>
