<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}" >

<body ng-app ="roombaSimApp">
	<div id="controller" ng-controller ="roombaSimController" >

		<form>
			<textarea ui-codemirror = "editorOptions" ng-model = "code">
			</textarea>
		</form>

		<button ng-click = "runSimulation()">
			Run simulation...
		</button>

		<button ng-click = "testProcessing()">
			Test Processing
		</button>
		
		<canvas id="sketch" data-processing-sources="../RoombaSimulator.pde ../Entity.pde ../EndZone.pde ../Path.pde ../Roomba.pde ../Wall.pde"></canvas>
	
<script type="application/processing" data-processing-target="sketch">roomba.driveDirect(500,500);</script>
</div>
</body>
</html>
