 <!DOCTYPE html>
  <html>
  <head>
      <title>Oh my goodness, it worked</title>
      <script type="text/javascript" src="../processing.min.js"></script>
  	  <script type="text/javascript">
  	  	function move(){
  	  		var p = Processing.getInstanceById('sketch');
  	  		console.log("x = " + p.x);
  	  		console.log("y = " + p.y);
  	  		p.move(p.x + 5, p.y + 5, 135);
  	  		
  	  	}
  	  </script>
  </head>
  <body>
      <h1>Processing.js Test</h1>
      <p>This is my first Processing.js web-based sketch:</p>
     	<canvas id="sketch" data-processing-sources="../DisplayRoomba.pde"></canvas>
        <button onclick="move()"> move </button>
 </body>
 </html>

